<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - OutfitAssistant</title>
    <!-- Bootstrap 4 CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="~/OutfitAssistant.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top bg-white border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="mynavbar">
                <iconify-icon  icon="icon-park-twotone:clothes-hoodie" witdh="25" height="25" class="marginL" ></iconify-icon>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Outfit Assistant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>                           
                <div class="dropdown text-end admin-setting">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" style="color:black"data-bs-toggle="dropdown" aria-expanded="false">
                        <iconify-icon icon="uil:user" width="25" height="25"></iconify-icon>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li class="my-list-inline-item">
                            <div class="dropdown-item dropdown-item-personalization" style="display: flex">
                                <iconify-icon icon="ph:person" width="25" height="25" style="padding:0px;margin-left:5px;margin-top:4px;color:#79efff"></iconify-icon>
                                <a class="dropdown-item" href="~/home/personalization"  style="color: black">Personalization</a>
                            </div>
                        </li>    
                        <li class="my-list-inline-item">
                            <div class="dropdown-item" style="display: flex">
                                <iconify-icon icon="material-symbols:help-outline" width="27" height="25" style="padding:0px; margin-left:5px;margin-top:4px;color:#79efff"></iconify-icon>
                                <a class="dropdown-item" href="#" style="color: black">Help</a>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="my-list-inline-item">
                            <div class="dropdown-item" style="display: flex">
                                <iconify-icon icon="mdi:sign-out" width="25" height="25" style="padding:0px; margin-left:7px;margin-top:4px;color:#79efff"></iconify-icon>
                                <a class="dropdown-item" href="#" style="color: black">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-lg">
        <main role="main" >
            <div class="row">
                <div class="col-8">
                    @RenderBody()
                </div>
                <div class="col-4">
                   @*  Chat bot region *@
                </div>
            </div>                    
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <!-- jQuery JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- Bootstrap JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
