@model AppUser
@{
    ViewData["Title"] = "Personalization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="personalizationForm">
    <h2>Personalization</h2>
    <form id="personalizationData">
        <div class="row g-3">
            <div class="col-12">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="invalid-feedback">
                    Valid Full Name is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" name="age" required>
                <div class="invalid-feedback">
                    Valid Age is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" class="form-select" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <div class="invalid-feedback">
                    Valid Gender is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="height" class="form-label">Height (cm):</label>
                <input class="form-control" type="number" id="height" name="height" required>
            </div>

            <div class="col-sm-6">
                <label class="form-label" for="weight">Weight (kg):</label>
                <input class="form-control" type="number" id="weight" name="weight" required>

            </div>
            <div class="col-sm-6">
                <label class="form-latbel" for="favColor">Favorite Color:</label>
                <input type="color" id="favColor" name="favColor" required>
            </div>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>
